<div class="scroll-viewport"
     #divScrollElement>
  <div class="flex-row background-container"
       (wheel)="onMouseWheel($event)">
    <div class="main-app-container flex-column justify-around full-width">
      <div class="logo-container margin-auto flex-column align-center">

        <div class="action-container flex-row justify-between"
             [ngClass]="{'logo-init': showElement}">
          <div class="box">
            <a href="mailto:info@pustoystakan.com?Subject=Hello"
               class="btn btn-three"
               target="_blank">
              <span>MAIL</span>
            </a>
          </div>

          <div class="box">
            <a href="tel:+79523574576"
               class="btn btn-three"
               target="_blank">
              <span>CALL</span>
            </a>
          </div>
        </div>
      </div>

      <app-logo class="logo-main"></app-logo>
    </div>

    <div class="about-screen flex-row">
      <div class="about-info-container flex-column margin-auto">
        <h1 class="margin-auto">
          This is very good web studio.
        </h1>
      </div>
    </div>
  </div>
</div>

