body {
  margin: 0;
  padding: 0;
  background-color: #0B4767;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.no-wrap {
  flex-wrap: nowrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-base-line {
  align-items: baseline;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-start {
  align-items: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.margin-auto {
  margin: auto;
}
